%div{style: "text-align: center;"}
  %div{class: 'successbox'}
    %p
      Your details have been forwarded to the NGDA admins.
    %br
    %p
      If you haven't received your invite email within 24 hours,
      %br please feel free to reach out to the following admins via twitter:
    %p
      %ul
        %li
          = link_to 'Skid Vis - @skidvis', 'http://twitter.com/skidvis'
    %p
      Thank You!